:root {
  --bg: light-dark(#fff, #15202b);
  --fg: light-dark(#000, #fff);
  --border: #38444d;
  --theme: #2cafff;
  --safe-bottom: 0px;
  --safe-bottom: env(safe-area-inset-bottom, 0px);
  color-scheme: light dark;
  @media (prefers-color-scheme: light) {
    &:has(#theme-auto:checked) {
      .bottomNav button::before {
        filter: invert(100%);
      }
      color-scheme: only light;
    }
  }
  &:has(#theme-light:checked) {
    .bottomNav button::before {
      filter: invert(100%);
    }
    color-scheme: only light;
  }
  @media (prefers-color-scheme: dark) {
    &:has(#theme-auto:checked) {
      color-scheme: only dark;
    }
  }
  &:has(#theme-dark:checked) {
    color-scheme: only dark;
  }
}
html,
body {
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  margin: 0;
}
.posts {
  max-width: 600px;
  width: 100vw;
  outline: 1px solid var(--border);
  height: fit-content;
  &:has(.post) {
    margin-bottom: 1000px;
  }
  &:not(:has(.post)) {
    display: none;
  }
}
.stats {
  max-width: 300px;
  border: 1px solid var(--border);
  border-radius: 8px;
  position: fixed;
  left: calc(50% + 330px);
  top: 20px;
  padding: 8px;
}
.post {
  padding: 12px 24px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1 {
    font-size: 100%;
    margin: 0;
  }
  p {
    margin: 0;
    word-break: break-word;
  }
  button {
    align-self: end;
    margin: -4px;
    margin-top: 4px;
    padding: 4px;
    background: light-dark(#0000, #fff0);
    transition:
      background 0.2s,
      scale 0.2s cubic-bezier(0.15, 0.67, 0, 1);
    border-radius: 64px;
    &:hover:not([data-liked]) {
      background: light-dark(#0002, #fff2);
      scale: 1.1;
    }
    &:active:not([data-liked]),
    &:active {
      scale: 0.9;
    }
    font-size: 0;
    border: 0;
    &::after {
      font-size: 16px;
      display: block;
      width: 24px;
      height: 24px;
      margin-top: 1px;
      margin-bottom: -1px;
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12.06,21.01c3.94,0,13.77-11.36,8.56-16.37-4.59-4.41-8.61,1.58-8.61,1.58,0,0-4.02-5.99-8.61-1.58-5.22,5.01,4.61,16.37,8.56,16.37h.11Z" stroke-width="2" fill="none" stroke="%2389A" stroke-linejoin="round"/></svg>') /
        "Like";
      cursor: pointer;
      /*                    filter: saturate(0) brightness(3) contrast(2) invert(1);*/
    }
    &[data-liked]::after {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12.06,21.01c3.94,0,13.77-11.36,8.56-16.37-4.59-4.41-8.61,1.58-8.61,1.58,0,0-4.02-5.99-8.61-1.58-5.22,5.01,4.61,16.37,8.56,16.37h.11Z" stroke-width="2" fill="red" stroke="red"/></svg>') /
        "Like";
    }
  }
  img.media {
    border-radius: 16px;
    border: 1px solid var(--border);
    display: block;
    margin: 8px 0;
    max-width: min(512px, 100%);
    max-height: 330px;
    background: #fff;
  }
  cursor: pointer;
  &:hover {
    background: light-dark(#eee, #1c2732);
  }
}
.fullImg {
  max-height: 95%;
  max-width: 95%;
  min-width: 25%;
  min-height: 25%;
}
body ::backdrop {
  background: #0009;
}
#startScreen {
  display: flex;
  flex-direction: column;
  background: var(--bg);
  border: none;
  width: 90%;
  height: 90%;
  max-width: 600px;
  color: var(--fg);
  border-radius: 8px;
  padding: 32px;
  box-sizing: border-box;
  h1,
  h2 {
    margin: 0;
  }
}
#categoryPickList {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 8px 0;
}
.categoryPicker {
  border-radius: 100px;
  cursor: pointer;
  padding: 4px 4px 4px 8px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  &::after {
    content: "+";
    color: var(--theme);
    font-size: 150%;
    line-height: 0;
    margin-left: 8px;
  }
  &:hover,
  &:active {
    background: light-dark(#0002, #0008);
  }
  &:has(input:checked) {
    background: light-dark(#000, #fff);
    color: light-dark(#fff, #000);
    &::after {
      content: "−";
      color: light-dark(#fff, #000);
    }
  }
  &:has(input:focus-visible) {
    outline: 2px solid var(--theme);
  }
  box-shadow: inset 0px 0px 1.2px 0px light-dark(#fff, #000);
  padding: 10px;
  cursor: pointer;
  background: light-dark(#eee, #000);

  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}
#startBtn {
  border: none;
  border-radius: 32px;
  padding: 12px;
  background: var(--theme);
  color: #fff;
  font: inherit;
  cursor: pointer;
  &[disabled] {
    background: #557;
    cursor: not-allowed;
  }
}
#categorySearch {
  margin: 8px 0;
  gap: 8px;
  input {
    border-radius: 32px;
    padding: 12px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    font: inherit;
    &[disabled] {
      background: #557;
      cursor: not-allowed;
    }
  }
  select:not(:has(option)) {
    display: none;
  }
}
a[href] {
  color: var(--theme);
}
.bottomNav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background: var(--bg);
  border-top: 1px solid var(--border);
  max-width: 600px;
  width: 100vw;
  height: 48px;
  box-sizing: border-box;
  padding: 8px 0;
  padding-bottom: calc(8px + var(--safe-bottom));
  button {
    font-size: 0;
    &.hidden {
      display: none;
    }
    border: none;
    background: none;
    color: var(--fg);
    cursor: pointer;
    text-align: left;
    padding: 0 3px;
    transition: background 0.2s;
    border-radius: 64px;
    &::before {
      display: inline-block;
      content: attr(data-icon);
      font-size: 1rem;
      text-align: center;
      width: 24px;
      height: 24px;
    }
    &[data-icon="⚙️"]::before {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"><polyline points="13.44 5.46 14.29 2.71 18.36 2.71 19.25 5.46 21.64 6.74"/><polyline points="21.64 6.74 24.19 5.39 27.07 8.27 25.75 10.85 26.54 13.44"/><polyline points="26.54 13.44 29.29 14.29 29.29 18.36 26.54 19.25 25.26 21.64"/><polyline points="25.26 21.64 26.61 24.19 23.73 27.07 21.15 25.75 18.56 26.54"/><polyline points="18.56 26.54 17.71 29.29 13.64 29.29 12.75 26.54 10.36 25.26"/><polyline points="10.36 25.26 7.81 26.61 4.93 23.73 6.25 21.15 5.46 18.56"/><polyline points="5.46 18.56 2.71 17.71 2.71 13.64 5.46 12.75 6.74 10.36"/><polyline points="6.74 10.36 5.39 7.81 8.27 4.93 10.85 6.25 13.44 5.46"/><polyline points="13.44 5.46 14.29 2.71 18.36 2.71 19.25 5.46 21.64 6.74"/><circle cx="16" cy="16" r="6" /></svg>') /
        "Settings";
    }
    &[data-icon="🙎🏻‍♂️"]::before {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"><circle cx="16" cy="10.34" r="7.14"/><path d="m15.87,28.8h12.77c-.36-5.39-1.18-7.54-4.22-9.98-.28-.23-.69-.23-.97,0-1.08.84-3.9,2.52-7.31,2.52h-.28c-3.41,0-6.24-1.68-7.31-2.52-.29-.22-.69-.22-.97,0-3.04,2.44-3.86,4.59-4.22,9.98h12.77s-.26,0-.26,0Z"/></svg>') /
        "Profiles";
    }
    &[data-icon="📊"]::before {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"><rect x="13" y="17.75" width="6" height="12" rx="1" ry="1"/><rect x="22.5" y="3.75" width="6" height="26" rx="1" ry="1"/><rect x="3.5" y="10.75" width="6" height="19" rx="1" ry="1"/></svg>') /
        "Stats";
    }
    &[data-icon="⬇️"]::before {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"><path d="m16,4.44h2.11c1.1,0,2,.9,2,2v12.78h4.34c.45,0,.67.54.36.86l-8.36,8.37c-.25.25-.66.25-.91,0l-8.36-8.37c-.32-.32-.09-.86.36-.86h4.34V6.44c0-1.1.9-2,2-2h2.11Z"/></svg>') /
        "Download";
    }
    &:hover {
      background: light-dark(#0002, #fff2);
    }
  }
  a:has(.logo) {
    display: none;
  }
  @media (width >= 800px) {
    gap: 12px;
    border-top: none;
    bottom: unset;
    top: 16px;
    left: calc(50vw - 320px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    translate: -100% 0;
    height: 200px;
    a:has(.logo) {
      display: block;
    }
    .logo {
      margin-left: 4px;
      display: block;
      image-rendering: pixelated;
      width: 32px;
    }
    button:not(.hidden) {
      padding: 8px;
      display: flex;
      align-items: center;
    }
    button::before {
      width: 24px;
      height: 24px;
      translate: 0 -1px;
    }
  }
  @media (width >= 960px) {
    left: calc(50vw - 360px);
    button:not(.hidden) {
      padding: 8px 12px 8px 4px;
      font-size: 1rem;
    }
    button::before {
      margin: 0 12px 0 4px;
    }
  }
}
body:has(> #loading) > .bottomNav,
body:has(> #startScreen) > .bottomNav {
  display: none;
}
#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    display: block;
    animation: 1s spin linear infinite;
    border-radius: 16px;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #89a;
    border-top-color: var(--theme);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
radio-picker {
  display: flex;
  border-radius: 64px;
  width: fit-content;
  overflow: clip;
  border: 1px solid var(--border);
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background: #89a;
  label {
    &:has(input:checked) {
      box-shadow: inset 0px 0px 0px 64px #0004;
    }
    &:has(input:focus-visible) {
      outline: 2px solid light-dark(#000, #fff);
      outline-offset: -2px;
    }
    padding: 8px;
    &:first-child {
      padding-left: 10px;
      border-radius: 64px 0 0 64px;
    }
    &:last-child {
      padding-right: 10px;
      border-radius: 0 64px 64px 0;
    }
    cursor: pointer;
    background: #0000;
    &:hover {
      background: light-dark(#0006, #fff6);
    }
    &:active {
      background: light-dark(#0008, #fff8);
    }
  }
  input {
    /* To allow screen reader to still access these. */
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}
.modal {
  &[open] {
    display: flex;
  }
  flex-direction: column;
  background: var(--bg);
  border: none;
  width: 90%;
  height: 90%;
  max-width: 600px;
  color: var(--fg);
  border-radius: 8px;
  padding: 32px;
  box-sizing: border-box;
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  p {
    text-wrap-style: pretty;
  }
  & > label,
  & > pseudo-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 24px 0 8px;
    -webkit-user-select: none;
    user-select: none;
  }
  & > label:has(input[type="checkbox"]) {
    position: relative;
    padding-right: 58px;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      height: 26px;
      left: initial;
      content: "";
      transition: background 0.2s;
      background: #89a;
      border-radius: 32px;
      width: 50px;
      cursor: pointer;
    }
    &::after {
      position: absolute;
      top: 2px;
      right: 2px;
      height: 22px;
      content: "";
      background: #fff;
      border-radius: 32px;
      aspect-ratio: 1/1;
      transition:
        background 0.2s,
        translate 0.2s;
      translate: calc(100% - 46px) 0;
      cursor: pointer;
    }
    &:has(input:checked) {
      &::before {
        background: var(--theme);
      }
      &::after {
        translate: 0 0;
      }
    }
    &:has(input:focus-visible) {
      &::before {
        outline: 2px solid light-dark(#000, #fff);
      }
    }
    input {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
  }
  button.closeButton {
    background: #0000;
    color: var(--fg);
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: normal;
  }
  button {
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: var(--theme);
    font-size: inherit;
    font-weight: inherit;
    color: #fff;
    border-radius: 32px;
    padding: 12px;
    &.btn-danger {
      background: red;
      color: #fff;
    }
    &.btn-danger-outline {
      background: #0000;
      color: var(--fg);
      border: 2px solid red;
      box-sizing: border-box;
    }
    &.btn-outline {
      background: #0000;
      color: var(--fg);
      border: 2px solid var(--theme);
      box-sizing: border-box;
    }
  }
  profile-entry {
    padding: 8px;
    padding-left: 20px;
    border-radius: 32px;
    border: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    cursor: pointer;
    background: light-dark(#0000, #fff0);
    transition: background 0.1s;
    button {
      cursor: pointer;
      background: #f000;
      color: red;
      font-weight: 600;
      border: none;
      transition:
        background 0.1s,
        color 0.1s;
      &:hover,
      &:active,
      &:focus {
        background: #f00;
        color: #fff;
      }
    }
    &:hover,
    &:active,
    &:focus {
      background: light-dark(#0002, #fff2);
    }
    &.current {
      font-weight: 600;
      border-color: var(--theme);
    }
  }
  #profilesList > button {
    width: 100%;
    margin-top: 8px;
  }
}
#statsModal {
  details {
    padding: 8px;
    border-radius: 8px;
    margin: 4px 0;
    border: 1px solid var(--border);
    summary {
      cursor: pointer;
    }
    .likedPostEntry {
      display: block;
      margin: 0;
      width: fit-content;
    }
  }
}
